<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="../theme/css/gitalk.css">

<script src="../theme/js/gitalk.min.js"></script> 
<div id="gitalk-container"></di
  var title = location.pathname.substr(0, 50);//截取路径的前50个字符作为标识符
  var gitalk = new Gitalk({
      clientID: 'a9430946ad5d24508c42',
      clientSecret: '60578fb5df3676033e4a193eff90d824c4223bc4',
      repo: 'OpenWALAS',
      owner: 'OpenWALAS',
      admin: ['OpenWALAS'],
      id: title,
      distractionFreeMode: true
  });
  gitalk.render('gitalk-container');
  </script>
<!-- Gitalk end -->